<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <appSettings>
    <add key="key1" value="Sample" />
    <!--  Kams, Sing3, ProDev, APMFG -->
    <add key="DB" value="APMFG" />
    <add key="DB_NAME" value="TPC2021" />
    
    <!-- Templog -->
    <add key="TEMPLOGDB" value="APMFG" />

    <!-- TechDB -->
    <add key="TECHDB_SERVER" value="Sing3" />
    <add key="TECHDB_NAME" value="TECH_DB" />


    <!-- Gagetrack -->
    <add key="GAGETRACKG_SERVER" value="SINAS2" />
    <add key="GAGETRACK_DBNAME" value="GAGETRAK70" />
    
    <!-- tech 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BackupFolder_TPC" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\BACKUP\DB\TPC\" />
    <add key="BackupFolder_RFQ" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\BACKUP\DB\RFQ\" />

    <add key="BackupFolder_MEIE" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\BACKUP\DB\MEIE\" />
    <add key="BackupFolder_LOTO" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\BACKUP\DB\LOTO\" />
    <add key="BackupFolder_TECHDB" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\BACKUP\DB\TECHDB\" />

    <add key="TechExcel_Folder" value="\\corp.halliburton.com\ap\SIN\SG3\Data\Sing3Apps\PROJECTS\TPC-Tech\" />-->


    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BackupFolder_TPC" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\BACKUP\DB\TPC\" />
    <add key="BackupFolder_RFQ" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\BACKUP\DB\RFQ\" />

    <add key="BackupFolder_MEIE" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\BACKUP\DB\MEIE\" />
    <add key="BackupFolder_LOTO" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\BACKUP\DB\LOTO\" />
    <add key="BackupFolder_TECHDB" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\BACKUP\DB\TECHDB\" />
    <add key="TechExcel_Folder" value="\\ap1nas101it2944.file.core.windows.net\sing3\Data\Sing3Apps\PROJECTS\TPC-Tech\" />
    
    
    <!-- Procuremetn emails  TPC2UpdaterApp.ProcurementDIQ.ProcurementDIQUpdator -->
    <add key="Procurement_cc_email" value="AndyTan@halliburton.com, Nevice.Phang@halliburton.com,  SuatChingJessica.Loh@halliburton.com, ChoonLianCynthia.Goh@halliburton.com, KhinHnin.Aye@halliburton.com, HaiSoon.Yeo@halliburton.com, SiewLing.Ooi@halliburton.com, Vidhya.Krishnamani@halliburton.com, XiaoQian.Nan@halliburton.com, TingTing.Sam@halliburton.com, YingCong.Ong@halliburton.com" />
    <add key="Procurement_to_email" value="WeiMin.Wong@halliburton.com, Venugopal.Suriyanarayanan@halliburton.com, Senthil.Rajagopal@halliburton.com, Chenthil.kumar@halliburton.com, Evelyn.Astaman@halliburton.com  " />
    <add key="Procurement_bcc_email" value="kamesh.shankaran@halliburton.com" />
    <add key="qc_cc_email" value="TanKok.Wah@halliburton.com;visvanathan.muniandy2@halliburton.com;SoonSeng.Wong@halliburton.com;" />

    <!-- True / False -->
    <add key="IS_Test" value="True" />
  </appSettings>
  
  
</configuration>